# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://wrlog.github.io/Wr.github.io/
date_format: "ordinal"
title: Wen-Rui Tan
subtitle: "PhD Candidate | Clinical Pharmacologist | Pharmacometrician"
description: "Personal website and portfolio of Wen-Rui Tan - PhD candidate, clinical pharmacologist, and pharmacometrician. Explore my research, publications, blog posts, and professional journey in pharmacokinetics and pharmacodynamics."
keywords: Wen-Rui Tan, PhD, Clinical Pharmacologist, Pharmacometrician, PK/PD, Pharmacokinetics, Pharmacodynamics, Research, NONMEM
timezone: United States/Eastern Time Zone
encoding: "utf-8"
side_bar_repo_limit: 0

# ---------------- #
#      Author      #
# ---------------- #
author: Wen-Rui Tan
organization: 
organization_url: 
github_username: WenruiTan
location: United States
email: Wen.Tan@cchmc.org
linkedin: 
twitter: 
website: https://wrlog.github.io/Wr.github.io/

# ---------------- #
#    Navigation    #
# ---------------- #

navs:
  -
    href: /
    label: Home

  -
    href: /about/
    label: About

  -
    href: /portfolio/
    label: Portfolio

  -
    href: /categories/
    label: Blog

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
plugins:
    - jekyll-github-metadata
    - rouge
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
collections:
    wiki:
        output: true
        permalink: /wiki/:path/

exclude:
    - template.md
        
repository: https://wrlog.github.io/Wr.github.io/

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk, utterances, beaudar
comments_provider: 
# gitment 配置参考：https://imsun.net/posts/gitment-introduction/

disqus:
    username: 

gitment:
    owner: WenruiTan
    repo: blog-comments
    oauth:
        client_id: ce2239587a9dc9830236
        client_secret: 0eeeea7ac0249f02c36935ddfc995efea5572481
        
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: false
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#      Google      #
# ---------------- #
google:
    analytics_id: G-7WJEV91PM7

